<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>KeepAlive</key>
  <true/>
  <key>Label</key>
  <string>dinghy.fsevents_to_vm</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/fsevents_to_vm</string>
    <string>start</string>
    <string>--ssh-config-path=%HOME%/.dinghy/ssh-config</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>WorkingDirectory</key>
  <string>%HOMEBREW_PREFIX%</string>
</dict>
</plist>
